
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>{% block title %}django-heatmap{% endblock %}</title> </head>

<body>

			<div style="position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:0;overflow:hidden;" id="overlay">
			<img id='imgoverlay'> </img>
			</div>


			

			<iframe style="position:absolute; top:0px; left:0px; width:100%; height:100%;opacity:0.3; 
        		z-index:100;" frameborder="0" id='website' scrolling='yes'>
			</iframe>


            {% block content %}{% endblock %}

		</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

 $("iframe").attr("src","{{url}}");


            // $(this)[0].contentWindow is the window of your nested browsing context/ iframe
            $($("#website").contentWindow).click(function(){
                console.log($(this).scrollTop());
            });

var check_overlay = setInterval(
function()
{

  $.ajax({
             type: "GET",
             url: "{% url celery-is_task_successful task.id %}",
             dataType: "json",
			 async: true,
             success: function(result) {
                if(result.task.executed){
				clearInterval(check_overlay); 
		
			var img = $("img#imgoverlay").attr("src", "{{MEDIA_URL}}/{{url_img}}")
    		.load(function() {
        if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
            alert('broken image!');
        } else {
            $("#over").append(img);
        }
    });				


		}
	
	
             }                                      
         });
}, 500);

}); 
  


	
</script>

</body>
</html>
